@use "../../../../../common/styles/variables.scss" as commonVars;
@use "../../../../styles/mixins.scss" as mixins;

.rich-text-modal {
    @include mixins.modal-window;

    .textarea {
        @include mixins.main-textarea;

        height: 300px;
    }

    .textarea-single-line {
        @include mixins.main-textarea;
    }

    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        button {
            @include mixins.button-style;
            margin-left: 10px;
        }
    }
}

.dark-theme {
    .rich-text-modal {
        background: commonVars.$dark-theme-primary-color;
        border-color: commonVars.$dark-theme-primary-color;

        .textarea,
        .textarea-single-line {
            background: commonVars.$dark-theme-secondary-color;
            color: white;
            border-color: commonVars.$dark-theme-secondary-color;
        }
    }
}