.chat-input-suggestions {
    position: fixed;
    list-style: none;
    padding: 4px;
    margin: 0;
    z-index: 1000;
    background: white;
    display: grid;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: black;
    border: 1px solid #cccccc;
    transform: translate(-100%, -100%);

    .chat-input-suggestion {
        cursor: pointer;
        padding: 2px 6px;

        &.selected {
            background: #0078d7;
            border-radius: 2px;
            color: white;
        }
    }
}


.dark-theme {
    .chat-input-suggestions {
        background: #303030;
        color: white;
        border: 1px solid black;
    }
}