@use "../../../../../common/styles/variables.scss" as commonVars;
@use "../../../../styles/mixins.scss" as mixins;

.rich-text-area {

    width: 100%;
    height: 100%;

     .textarea {
        @include mixins.main-textarea;

        resize: none;
        width: 100%;
        height: 100%;
    }

    .textarea-single-line {
        @include mixins.main-textarea;

        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        button {
            @include mixins.button-style;
            margin-left: 10px;
        }
    }
}

.dark-theme {
    .rich-text-area {
        background: commonVars.$dark-theme-primary-color;
        border-color: commonVars.$dark-theme-primary-color;

        .textarea,
        .textarea-single-line {
            background: commonVars.$dark-theme-secondary-color;
            color: white;
            border-color: commonVars.$dark-theme-secondary-color;
        }
    }
}