@use "../../../../../common/styles/variables.scss" as commonVars;
@use "../../../../styles/mixins.scss" as mixins;

.chat-input-container {
    display: flex;
    margin: 10px 0 0 0;

    textarea {
        flex-grow: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        background: white;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        resize: none;
        font-family: monospace;
        
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
            background: #f0f0f0;
        }
    }

    button {
        @include mixins.button-style;
        border-radius: 0 4px 4px 0;
        
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
            background: #999;
        }
    }
}

.dark-theme {
    .chat-input-container {
        textarea {
            background: commonVars.$dark-theme-secondary-color;
            border-color: commonVars.$dark-theme-secondary-color;
            color: white;
            
            &:disabled {
                background: #1a1a1a;
                opacity: 0.6;
            }
        }
        
        button {
            &:disabled {
                background: #444;
            }
        }
    }
}