@use "../../../../../common/styles/variables.scss" as commonVars;
@use "../../../../styles/mixins.scss" as mixins;

.chat-input-container {
    display: flex;
    margin: 10px 0 0 0;

    input[type="text"] {
        flex-grow: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        background: white;
        color: black;
    }

    button {
        @include mixins.button-style;
        border-radius: 0 4px 4px 0;

    }
}

.dark-theme {
    .chat-input-container {
        input {
            background: commonVars.$dark-theme-secondary-color;
            border-color: commonVars.$dark-theme-secondary-color;
            color: white;
        }
    }
}