$block-padding-top: 15px;
$modal-window-background-color: #fafafa;
$default-modal-width: 500px;
$default-border-radius: 4px;
$default-hover-color: #0078d7;
$default-highlight-color: #551a8b;
$default-highlight-color-dark: #9730f5;
