@use "../../../common/styles/variables.scss" as commonVars;
@use "../../styles/variables.scss" as vars;

.group {
    border: 1px solid #cecece;
    border-radius: 4px;
    margin-top: vars.$block-padding-top;
    padding: 10px;
    background: vars.$modal-window-background-color;
    display: block;
    position: relative;

    .group-title {
        position: absolute;
        top: -14px;
        left: 10px;
        background: vars.$modal-window-background-color;
        padding: 0px 6px 0px 6px;
        border-radius: 50px;
        color: black;
    }
}

.dark-theme {
    .group {
        border-color: commonVars.$dark-theme-secondary-color;
        background: commonVars.$dark-theme-primary-color;

        .group-title {
            background: commonVars.$dark-theme-primary-color;
            color: white;
        }
    }
}